@import "reset";

// Variables
// --------------------------------------------------

//== Colors
//

$gray-base:              #808080;

$gray-dark:              #526051;

$gray-darker:            lighten($gray-dark, 6%);
$gray:                   lighten($gray-dark, 33.5%);
$gray-light:             lighten($gray-dark, 46.7%);
$gray-lighter:           lighten($gray-dark, 55.5%);

$brand-primary:         #adc7ac; // #337ab7
$brand-success:         #fdd3cd;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Raleway', sans-serif;
$font-family-savoye:       'Savoye LET', serif;

$font-family-base:        $font-family-sans-serif;

$font-size-base:          15px;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

$logo-size: 11em;
$header-height: 6.6em;

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  color: $gray-base;
}

h2, .h2, h3, h4 {
  color: $gray-dark;
  text-align: center;
  margin: 0.5em 0 1.5em;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
}

h1, .h1  {
  font-family: $font-family-savoye;
  font-size: 2.7em;
  font-weight: 400;
}

.subtitle-center {
  margin-bottom: 2em;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.85;
  text-align: center;

  @media (min-width: 48em) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

h2, .h2  {
  flex: 100%;
  font-size: 1.85em;
}

h3  {
  font-size: 1.6em;
}

h4  {
  font-size: 1.4em;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color .25s ease-in-out;

  &:hover {
    color: $link-hover-color;
  }
}

p {
  margin: 1em 0;
  line-height: 1.4;
}

strong  {
  font-weight: 400;
  color: darken($gray-base, 15%);
}

button, input, textarea {
  font-size: 1em;
  font-family: $font-family-base;
  outline: 0;
}

input, textarea {
  padding: 1.3em 1.2em;
  margin-bottom: 2em;
  width: 100%;
  border: 1px solid $gray-lighter;
  font-style: italic;
  font-weight: 300;

  &:focus {
    border-color: $gray-light;
  }
}

textarea  {
  min-height: 7em;
  resize: none;
}

.button  {
  padding: 0.8em 1.9em;
  line-height: 1.7em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $brand-success;
  border: 1px solid $brand-success;
  color: #fff;
  transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,background-position .3s ease,opacity .2s ease-out;

  &:hover {
    color: $brand-success;
    background-color: #fff;
  }
}

img {
  max-width: 100%;
  display: block;
}

.icon {
  display: inline-block;
  vertical-align: middle;

  &.icon-reverse {
    transform: scale(-1, 1);
  }
}

.icon-home-title  {
  fill: #fff;
}

.icon-wineglass {
  fill: $gray-light;
}

.divider  {
  background-size: cover;
  height: 380px;
  opacity: 0.7;
}

.nav  {
  flex: 1;
  margin-left: $logo-size;

  ul{
    display: flex;
    justify-content: space-between;

    a {
      color: $gray-dark;
      text-transform: uppercase;
      &:hover {
        color: $gray-darker;
      }
    }
  }
}

.wrapper  {
  padding-top: $header-height;
}

.container  {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 2.2em;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .flex-item {
    flex: 0 0 100%;
    padding-bottom: 1em;
  }

  .flex-item-6 {
    flex: 0 0 7%;
    margin: 0 0.2em;
  }

  @media (min-width: 48em) {
    .flex-item {
      flex: 1;
    }
  }
}

@media (min-width: 30em){
  .flex-cols-4 {
    margin-left: -1em;
    .flex-item {
      flex: 0 0 calc(50% - 1em);
      padding-left: 1em;

    }
  }
}

@media (min-width: 48em){
  .flex-cols-4 {
    .flex-item {
      flex: 0 0 calc(33.33% - 1em);
    }
  }
}

///////// Header
.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $header-height;
  z-index: 100;
  background-color: #fff;

  .header-container {
    @extend .container-flex;
    position: relative;
    padding-top: 2.8em;
    padding-bottom: 2.8em;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: $logo-size;
    z-index: 3;
    padding: 2em;
    border-radius: 100%;
    background-color: #fff;
  }

  @media screen and (max-width: 700px) {
    transition: all .25s ease;
    &.open {
      top: 0;
    }
    &.closed {
      top: -19em;
    }
    .header-container {
      padding-top: 1.8em;
      padding-bottom: 0;
    }
    .nav  {
      margin-left: 0;
    }
      ul {
        flex-direction: column;
        align-items: center;

          .logo {
            position: relative;
            width: 8em;
            padding: 1em;
            transition: all .25s;
            order: 5;

            &:hover {
              cursor: pointer;
            }
          }

          .item {
            padding: 1.15em;
            border-bottom: 1px $brand-primary dotted;
          }

      }
  }
}

///////Home
.home-section {
  position: relative;

  &:before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(152,122,122,0.32);
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.home-title {

  .home-subtitle  {
    font-size: 0.6em;
    font-weight: 300;
  }

  .title-date {
    font-size: 1.3em;
  }

  .icon-home-title {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }
}


.love-birds  {
  padding: 2em 0;
  img   {
    width: 9em;
  }
}

.clock-container  {
  @extend .container-flex;
  align-items: center;
  justify-content: center;

  span:first-child  {
    font-size: 1.5em;

    @media  (min-width: 768px)  {
      font-size: 3.3em;
    }
  }

  .subtitle {
    font-size: 1.2em;
    font-family: $font-family-savoye;

    @media  (min-width: 768px)  {
      font-size: 2em;
    }
  }
}

.couple {
  background-image: url('../body-bg.jpg');

  .image-divider  {
    @extend .divider;
    background-image: url("../home/bg-4.jpg");

    background-position-y: 50%;
  }
}

.couple-container {
  @extend .container-flex;
  justify-content: space-between;
  align-items: flex-end;

  h2 {
    margin: 1.5em 0 0;
  }

  p {
    text-align: center;
  }
  small {
    display: block;
    font-size: 1.2em;
    line-height: 1;
    font-family: $font-family-savoye;
    text-transform: lowercase;
  }

  .ampersant  {
    font-size: 7.5em;
    color: $brand-primary;
    font-family: $font-family-savoye;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    @media (min-width: 48em){
    flex: 0;
    padding-bottom: 0.9em;
    }
  }

  .his-her-photo  {
    margin-bottom: 2.5em;
  }
}


.detail {

  .detail-item {
    @extend .container-flex;
    padding-bottom: 4em;

    &:last-child  {
      padding-bottom: 0;

      .flex-item:before  {
        border-color: #fff;
      }
    }
  }

  h4 {
    margin-bottom: 0;
  }

  @media (min-width: 48em) {
    .detail-item  {
      position: relative;
      align-items: center;

      &:nth-child(odd)  {
        text-align: left;
        h4 {
          text-align: right;
        }

        .flex-item  {
          &:nth-child(1)  {
            order: 2;
          }
          &:nth-child(2)  {
            order: 1;
            text-align: right;
          }
        }
      }

      &:nth-child(even)  {
        text-align: right;
        h4 {
          text-align: left;
        }

        .flex-item  {
          &:nth-child(1)  {
            order: 1;
          }
          &:nth-child(2)  {
            order: 2;
            text-align: left;
          }
        }
      }

      .flex-item  {
        padding: 0 4em 0 4em;

        &:before, &:after {
          content: "";
          position: absolute;
        }
        &:before  {
          height: 100%;
          border: 1px solid $gray-light;
          left: 50%;
          top: 10%;
        }

        &:after {
          width: 20px;
          height: 20px;
          left: 50%;
          margin-left: -10px;
          border-radius: 50%;
          border: 2px solid $gray-light;
          background-color: #fff;
          top: 10%;
        }
      }
    }
  }

  .image-divider  {
    @extend .divider;
    background-image: url("../home/bg-3.jpg");
    background-position-y: 50%;
  }
}

.wishes-section  {
  background-color: lighten($brand-success, 9%);

  .comment-list  {

    .wish-item  {
      padding: 0.7em;
      margin-bottom: 2em;
      text-align: left;
      background-color: #fff;
    }

    .author {
      color: $gray-dark;
      margin-bottom: 0.5em;
      line-height: 1.2;
      font-size: 1.2em;
    }

    @media (min-width: 48em) {
      margin-left: 4em;
      order:  2;
    }
  }

  .image-divider  {
    @extend .divider;
    background-image: url("../home/bg-2.jpg");
    background-position-y: 50%;
  }
}

.instagram-section {

  .instagram-img  {
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      transition: all .25s cubic-bezier(.15,.35,.36,.99);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(99, 99, 99, 0.6);
      background-image: url("../img/lense.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.gmap-section {
  background-image: url('../body-bg.jpg');

  .container-flex {
    align-items: center;
  }

  .adress {
    color: darken($gray-base, 5%);
    font-size: 1.3em;
  }

  .gmap-canvas  {
      width: 100%;
      height: 400px;
  }
  
  .image-divider  {
    @extend .divider;
    background-image: url("../home/bg-1.jpg");
    background-position-y: 100%;
  }
}